.slick-slide .product_img {
  max-height: 1000px !important;
  width: 100% !important;
  border-radius: 15px;
  margin: 0 auto;
}

.product_img:hover {
  cursor: ew-resize;
}

.slick-prev::before,
.slick-next::before {
  background: gray;
  border-radius: 50px;
  opacity: 0.7;
}

.heart {
  font-size: 25px !important;
}

.heart:hover {
  color: red;
  transition: all 0.2s ease;
}

.cart-title {
  margin-top: 1.5rem !important;
}

@media screen and (max-width: 1023px) {
  .product {
    flex-flow: column wrap !important;
    align-items: center;
  }

  .product-img img {
    max-width: 450px;
  }
}

@media screen and (max-width: 767px) {
  .product-img img {
    max-width: 100%;
    min-height: 100%;
  }
}
