.nav-link {
  font-weight: 600;
  position: relative;
}

.nav-link:hover {
  border-radius: 20px 0 20px 0;
  background: red;
  color: white !important;
  -webkit-transition: 0.25s ease-in-out;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .login a {
    width: 29%;
  }
}
@media only screen and (max-width: 991px) {
  .login {
    margin-bottom: 20px;
  }
}
