@font-face {
  font-family: "destroyregular";
  src: url("../public/destroy_regular_macroman/DESTROY_-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Destroy-Regular", sans-serif !important;
}

.App {
  text-align: center;
  background: url("https://coolwallpapers.me/picsup/5769818-berserk-wallpapers.jpg")
    no-repeat center/cover;
}
