.bg {
  background: url("../../../public/img/guts3.jpg") no-repeat center/cover;
  transition: all 0.2s linear;
  border-radius: 120px 0 120px 0;
}

.buttons {
  margin: 0 auto;
  gap: 1.5px;
}

.product-heading {
  font-family: "destroyregular", sans-serif;
  color: rgb(153, 136, 136);
  font-size: 30px;
}

.cart-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  .products {
    flex-flow: row wrap;
  }
  .details {
    width: 100% !important;
  }
  .buttons {
    flex-flow: column;
  }
} ;
