.bg2 {
  background: url("../../../public/img/about.png") no-repeat center/cover;
  min-height: 200px;
  max-height: 800px;
  position: relative;
  border-radius: 120px 0 120px 0;
}

.bg2 h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.7);
  font-size: 25px;
  text-transform: uppercase;
  /* font-family: "destroyregular", sans-serif !important; */
}

.about-img {
  border-radius: 0px !important;
  background-position: center;
}

.about-desc {
  text-align: left;
}
.about-desc h2 {
  font-family: "destroyregular", sans-serif !important;
  font-size: 25px;
}
.about-desc-span {
  text-align: right !important;
}
.about-desc2-container {
  position: relative;
}

iframe {
  margin: 0 auto;
}
.readIt {
  font-family: "destroyregular", sans-serif !important;
}
