.cart-body {
  /* background: url("https://images3.alphacoders.com/206/206819.png") no-repeat
    center/cover; */
  min-height: 720px;
  background: url("../../../public/img/zoddGuts.jpg") no-repeat center/cover;
}

.cart-product {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.cart-product-bg {
  background: white;
}
