.cart-body {
  min-height: 720px;
  background: url("../../../public/img/zoddGuts.jpg") no-repeat center/cover;
}

.cart-product {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: rgb(246, 241, 241);
  padding: 10px;
}
