.heading {
  font-family: "destroyregular", sans-serif !important;
  color: black;
  text-align: left;
  font-size: 40px;
  line-height: 1.6;
}

.heading-sub {
  font-size: 55px;
  font-weight: bold;
  color: black;
  transform: skewX(-20deg);
}

.hero {
  position: relative;
  height: 100vh;

  background: url("../../../public/img/bg.jpg") no-repeat center/cover;
}

.hero-motto {
  position: absolute;
  top: 30%;
}
.icon {
  animation: icon-rotate infinite 15s linear;
  -webkit-transform-style: preserve-3d;
}

@keyframes icon-rotate {
  from {
    -webkit-transform: rotateY(0deg);
  }

  to {
    -webkit-transform: rotateY(360deg);
  }
}

@media only screen and (max-width: 1000px) {
  .heading {
    color: white;
  }
}
