.cart-product-fav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: rgb(246, 241, 241);
  padding: 10px;
}

.alert-fav {
  position: relative;
}
